<html>
<head>
<title>Crop Recommendation</title>
</head>
    <body style='background-color:#f0f8ff'>

        <center>

        <h1> Check Out  Here What Crop to Grow</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Nitrogen :  <input type="text", name='N', placeholder="Nitrogen Value"> <br><br>
            Phosphorus :  <input type="text", name='P', placeholder="Phosphorus Value"> <br><br>
            Potassium :  <input type="text", name='K', placeholder="Potassium Value"> <br><br>
            Temperature : <input type="text", name='temperature', placeholder="Temperature Value"> <br><br>
			Humidity : <input type="text", name='humidity', placeholder="Humidity Value"> <br><br>
			PH : <input type="text", name='ph', placeholder="PH Value"> <br><br>
			Rainfall : <input type="text", name='rainfall', placeholder="Rainfall Value"> <br><br>
			<br></b>
            <input type="submit" , value='Submit' >
        </form>
		
		 <img src='static\crop.jpg' alt="flower">

    </center>

    </body>
</html>